# Firebase Config
VITE_FIREBASE_API_KEY=AIzaSyBsSQqxgxeto9FeCWSLPFqfEXtFJ0avoYQ
VITE_FIREBASE_AUTH_DOMAIN=zeroixdark-market.firebaseapp.com
VITE_FIREBASE_DATABASE_URL=https://zeroixdark-market-default-rtdb.asia-southeast1.firebasedatabase.app
VITE_FIREBASE_PROJECT_ID=zeroixdark-market
VITE_FIREBASE_STORAGE_BUCKET=zeroixdark-market.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=950810511981
VITE_FIREBASE_APP_ID=1:950810511981:web:486718ea1a10d6fea08d64

# WhatsApp Admin
VITE_WA_ADMIN=62895416479539

# Pterodactyl Panel (optional, jika ada integrasi API)
VITE_PTERO_PANEL_URL=https://assistantzeroix.bypstar7.online
VITE_PTERO_API_KEY=ptla_WlmF4CJ2yI68CQEKcFeDieij2gXE67CESbqGISbXOeB

# App Config
VITE_APP_NAME=ZeroixDark-Marketplace
VITE_APP_VERSION=1.0.0
